@import url(colors.css);
/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #f1f1f1; }

/* Links */
a {
  color: #0074a2; }
  a:hover, a:active, a:focus {
    color: #0099d5; }

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #0099d5; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #0074a2; }

input[type=radio]:checked:before {
  background: #0074a2; }

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #0099d5; }

/* Core UI */
.wp-core-ui .button-primary {
  background: #0074a2;
  border-color: #004f6f;
  color: white;
  box-shadow: inset 0 1px 0 #00abef, 0 1px 0 rgba(0, 0, 0, 0.15); }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #006289;
    border-color: #003d55;
    color: white;
    box-shadow: inset 0 1px 0 #0099d5; }
  .wp-core-ui .button-primary:focus {
    box-shadow: inset 0 1px 0 #0099d5, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .wp-core-ui .button-primary:active {
    background: #004f6f;
    border-color: #003d55;
    color: white;
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
    color: #c7ced1 !important;
    background: #005779 !important;
    border-color: #003d55 !important;
    text-shadow: none !important; }
.wp-core-ui .wp-ui-primary {
  color: #fff;
  background-color: #222; }
.wp-core-ui .wp-ui-text-primary {
  color: #222; }
.wp-core-ui .wp-ui-highlight {
  color: #c4c4c4;
  background-color: #4054bc; }
.wp-core-ui .wp-ui-text-highlight {
  color: #4054bc; }
.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #d54e21; }
.wp-core-ui .wp-ui-text-notification {
  color: #d54e21; }
.wp-core-ui .wp-ui-text-icon {
  color: #fff; }

/* List tables */
.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #fff;
  background-color: #717ebd; }

.view-switch a.current:before {
  color: #717ebd; }

.view-switch a:hover:before {
  color: #d54e21; }

.post-com-count:hover:after {
  border-top-color: #717ebd; }

.post-com-count:hover span {
  color: #fff;
  background-color: #717ebd; }

strong .post-com-count:after {
  border-top-color: #d54e21; }

strong .post-com-count span {
  background-color: #d54e21; }

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #717ebd; }

#adminmenu a {
  color: #fff; }

#adminmenu div.wp-menu-image:before {
  color: #fff; }

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #c4c4c4;
  background-color: #4054bc; }

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #1e73be; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #1e73be; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #bcbcbc; }

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #bcbcbc; }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #0074a2; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #0074a2; }

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1; }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #c4c4c4;
  background: #8224e3; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #fff; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #d54e21; }

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #1e73be; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #fff; }

#collapse-menu:hover {
  color: #fff; }

#collapse-button div:after {
  color: #fff; }

#collapse-menu:hover #collapse-button div:after {
  color: #fff; }

/* Admin Bar */
#wpadminbar {
  color: #fff;
  background: #717ebd; }

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #fff; }

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #fff; }

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #0074a2;
  background: #1e73be; }

#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #0074a2; }

#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #fff; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #1e73be; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #8f98c2; }

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #bcbcbc; }

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #fff; }

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #0074a2; }

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #0074a2; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #fff; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #8994c8; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #fff;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #fff;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #fff;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #fff;
  opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #8994c8;
  background-color: #8994c8; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #0074a2; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #bcbcbc; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #0074a2;
  border-color: #006289; }

.wp-pointer .wp-pointer-content h3:before {
  color: #0074a2; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #0074a2; }

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #0074a2; }

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0074a2; }

.attachment.details .check {
  background-color: #0074a2;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0074a2; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #0074a2;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #0074a2; }

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme:hover:after {
  background: #0074a2; }

.theme-browser .theme.add-new-theme:hover span:after {
  color: #0074a2; }

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #717ebd; }

body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #717ebd; }

body.more-filters-opened .more-filters:before {
  color: #fff; }

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #4054bc;
  color: #c4c4c4; }

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #c4c4c4; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #4054bc;
  color: #c4c4c4; }

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #c4c4c4; }

/* Customize */
#customize-theme-controls .widget-area-select .selected {
  background-color: #4054bc;
  color: #c4c4c4; }

/* jQuery UI Slider */
.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
  background: #0074a2;
  border-color: #004f6f;
  box-shadow: inset 0 1px 0 #00abef, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Thickbox: Plugin information */
#sidemenu a.current {
  background: #f1f1f1;
  border-bottom-color: #f1f1f1; }

#plugin-information .action-button {
  background: #0074a2; }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #fff; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #4054bc; }

.star-rating .star {
  color: #0074a2; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #1e73be; }
