/*
Theme Name: Leyle Moore Design
Theme URI: http://www.leylamoore.com
Author: jazzy jeff
Author URI: http://www.dontworryaboutit.com/
Description: Leyla Moore Design Template
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: purple, light-purple, gray, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: LMD

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  }

html {
  position:relative;
  min-height:100%;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***********************************
GENERAL
************************************/

body {
  background-color: whitesmoke;
  margin: 0 0 132px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 132px;
    width: 100%;
  }

@media screen and (min-width: 42em) {
  body {
    margin: 0 0 60px; /* bottom = footer height */
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
  }
}

@font-face {
  font-family: 'BandaRegularRegular';
  src: url("css/webfonts/Banda_regular-webfont.eot");
  src: url("css/webfonts/Banda_regular-webfont.eot?#iefix") format("embedded-opentype"), url("css/webfonts/Banda_regular-webfont.woff") format("woff"), url("/fonts/Banda_regular-webfont.ttf") format("truetype"), url("css/webfonts/Banda_regular-webfont.svg#BandaRegularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lmdicons';
  src:url('css/webfonts/lmdicons.eot');
  src:url('css/webfonts/lmdicons.eot?#iefix') format('embedded-opentype'),
    url('css/webfonts/lmdicons.woff') format('woff'),
    url('css/webfonts/lmdicons.ttf') format('truetype'),
    url('css/webfonts/lmdicons.svg#lmdicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.page-wrap {
  /* max-width: 84em; */
  width: 100%;
  min-height: 100%;
  overflow: auto;
  margin: 0 auto; }





img {
  max-width: 100%; 
  height:auto;}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased; }

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/***********************************
ICONS
************************************/

[data-icon]:before {
  font-family: 'lmdicons';
  content: attr(data-icon);
}

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
  font-size: 1.5em;
  color: #b7bedb;
  padding-left:.5em;
}

.icon-alone:hover {
  color: #eaecf5;
}

.icon-contact {
  padding: 0 .5em 0 0;
  color:#717ebd;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.icon {
  display: inline-block;
  fill: #b7bedb;
  width: 1.5em;
  height: 1.5em;
  margin-left: 1em; }

.icon:hover {
  fill: #eaecf5; }





/***********************************
NAV
************************************/
.nav_wrap {

  background-color: #a6aed3;
  width: 100%; }

.nav-inner {
  width: 100%; }

.lmd_logo {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #717ebd;
  margin-left: 1em;
  z-index: 1; }

.lmd_logo img {
  width: 7em;
  height: auto;
  display: block; }

  @media screen and (min-width: 48.25em) {
    .lmd_logo img {
      width: 10em; }

    .lmd_logo {
      margin-left: 2em; } }
  @media screen and (min-width: 87em) {
    .inner {
      max-width: 87em;
      margin: 0 auto; } }

.social-nav {
  display: none; }

.justify-right {
  padding-left:87%;
}

a.menu-link {
  float: right;
  display: block;
  padding: 1em 1.8em 1em 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .9em;
  letter-spacing: .1em;
  color: #fff; }

a.menu-link.active{
  color:#717ebd;

}

nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0; }

nav[role=navigation].active {
  max-height: 15em; }

nav[role=navigation] ul {
  display:block;
  float:right;
  margin: 0;
  padding: 0; }

nav[role=navigation] li a {
  display: block;
  padding: 1em 2em 1em 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .9em;
  letter-spacing: .1em;
  color: #fff; 
  text-transform: uppercase;
  text-align:right;}

  nav[role=navigation] li a:hover {
    color: #717ebd; }

  @media screen and (min-width: 48.25em) {
    a.menu-link {
      display: none; }

    .js nav[role=navigation] {
      max-height: none; }

    nav[role=navigation] ul {
      display: inline-block;
      float: right;
      padding-right: 1em; }

    nav[role=navigation] li {
      display: inline-block;
      margin: 0; }

    nav[role=navigation] li a {
      border: 0;
      padding-right: 1em;}

    nav[role=navigation] li a:hover {
      background-color: #717ebd;
      color: #fff; } }
  @media screen and (min-width: 87em) {
    nav[role=navigation] ul {
      padding-right: .75em; } }
/***********************************
TAGLINE
************************************/
.tagline-wrap {
  background-color: whitesmoke; }

.tagline {
  width: 100%;
  padding: 5em 0 1em 0;
  text-align: center;
   }

.tagline h1 {
  font-family: 'Asap', italic, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  letter-spacing: .125em;
  color: #717ebd;
}

@media screen and (min-width: 29em) {
  .tagline {
    padding: 5em 0 1em 0;
     }

  .tagline h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 36em) {
  .tagline {
    padding: 4em 0 2em 0;
    }

}
@media screen and (min-width: 48.25em) {
  .tagline {
    text-align: right;
    padding: 2em 2em 4em 0;
  }
  .tagline h1 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 87em) {
  .tagline {
    margin: 0 auto;
    max-width: 87em;
    padding-right: 1.5em; } }
/***********************************
MISSION PAGE
************************************/

.mission-about, .mission-wrapper {
  background-color: whitesmoke; }

.mission-statement {
  margin-top: 0;
  display: block;
  text-align: center;
  background-color: #ffffff;
  line-height: 2em;
  padding-top: 4em;
  padding-bottom: 2em; }

.mission-statement p {
  font-family: 'BandaRegularRegular', sans-serif;
  font-size: 1.1em;
  color: #717ebd; }

.mission-statement .bold {
  font-family: 'BandaRegularRegular', sans-serif;
  font-size: 1.25em; }

.about-img {
  background-color: #ffffff; }

.about-img img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.about-text {
  background-color: whitesmoke;
  padding: 0;
  padding: 1em 2em 2em 2em; }

.about-text strong{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;}

.about-text em{
  font-style: italic;}

.about-text a{
  text-decoration: underline;
  color:#717ebd;}

.about-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #717ebd;
  text-align: left;
  margin: 0 0 .25em 0; }

.about-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  line-height: 1.5;
  color: #636466;
  text-align: left;
  padding-bottom: .5em; }

@media screen and (min-width: 30em) {
  .mission-statement {
    padding-bottom: 4em; }

  .mission-statement p {
    line-height: 1.7em;
    font-size: 1.5em; }

  .mission-statement .bold {
    font-size: 1.7em; }

  .about-text p {
    padding-botom: 1em; } }
@media screen and (min-width: 40em) {
  .about-text {
    padding: 0em 1em 1em 0em; }

  .mission-statement {
    padding-bottom: 6em; }

  .mission-statement p {
    line-height: 1.8em;
    font-size: 1.6em; }

  .mission-statement .bold {
    font-size: 1.8em; }

  .mission-about {
    padding: 2em;
    overflow: hidden; }

  .about-img {
    float: right;
    width: 27%;
    max-width: 275px; }

  .about-img img {
    width: 100%; }

  .about-text {
    float: left;
    width: 70%;
    margin-right: 0em; }

  .about-text h1 {
    margin: 0 0 .25em 0;
    padding-top: 0; } }
@media screen and (min-width: 48em) {
  .mission-statement {
    padding-top: 6em; } }
@media screen and (min-width: 70em) {
  .mission-statement {
    padding-top: 6em;
    padding-bottom: 4em;
    }

  .mission-about {
    max-width: 70em;
    margin: 2em auto 0 auto; }

  .about-text {
    padding: 0 0 1em 0; } }
/***************************
SUBNAV
***************************/






.sub-nav {
  display: none; 
  background-color:#fff;
}

.filter {
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .8em;
  letter-spacing: .1em;
  color: #777777;
}

.filter a {
  color:#717ebd;
  text-transform: uppercase;
}

.testimonial-filter {
  margin-bottom:2em;
}

@media screen and (min-width: 36em) {

  .button {
    border:0;
    background-color:#fff;
    color:#717ebd;
  }

  .button:active, 
  .button:focus {
    outline:none;
  }

  .is-checked .border-bottom-underline {
    border-bottom: 2px solid;
  }

  .border-bottom-underline {
    padding:.25em 0;
    border-bottom: 2px solid #ffff;
    display:block;
  }

  .sub-nav {
    display: block;
    position:relative;
    height:auto;
    overflow:auto;
    }

  .subnav {
    
    padding: .75em 0;
  }

  .align-left {
    display:block;
    webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    float: left;
    padding-left: 1.375em; }

  .align-right {
    display:block;
    webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    float: right;
    padding-right: 1em; }
}
@media screen and (min-width: 48.25em) {
  .align-left {
    float: left;
    padding-left: 2.375em; }

  .align-right {
    float: right;
    padding-right: 2em; } }
@media screen and (min-width: 87em) {
  .align-right {
    float: right;
    padding-right: 1.75em;
  }
  #filters{
    max-width:87em;
    margin:0 auto;
    }}
/********************
GALLERY
********************/
.gallery-wrap {

  position:relative;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  overflow: hidden;
  padding:.5em 0;
}

.gallery {

  position: relative;
  width: 100%;
  max-width: 87em;
  height: 100%;
  background-color: whitesmoke;
  margin-right: auto;
  margin-left: auto;
  clear:both;

  }



.box {
  display:block;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  float: left;
  width: 100%;
  max-width: 450px;
  height: auto;
  border: solid #f5f5f5;
  border-width:.5em 1em;
  position: relative;
  overflow:auto;}

.box img {
  display: block;
  position: relative;
  width: 100%;

  height: auto;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

.box .caption {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(113, 126, 189, 0.7);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  display: block; }

.caption h3 {
  display: block;
  position: absolute;
  color: #fffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 130%;
  bottom: 20%;
  left: 10%; }

.caption h2 {
  text-transform: uppercase;
  display: block;
  position: absolute;
  color: #fffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: .8em;
  bottom: 10%;
  left: 10%; }

.box:focus .fade-caption, .box:hover .fade-caption {
  opacity: 1; }

@media screen and (min-width: 29em) {
  .gallery-wrap{
    padding:.5em .5em;
  }
  .box {
    width: 50%;
    border-width:.5em;}
}

@media screen and (min-width: 48.25em) {
  .gallery-wrap{
    padding:1em;
  }

}

@media screen and (min-width: 60em) {

  .box {
    width: 33.333%; }
}
@media screen and (min-width: 87em) {
    .gallery{
      padding-left:1.5em;
      }
}

/********************
SINGLE PROJECT
********************/

.project {
  background-color: #f5f5f5;
  overflow:hidden;
}

.project-wrap{
  margin:0 auto;
  width:100%
  height:auto;
  padding: 1em 2em 1em 2em;
  box-sizing:border-box;
}

.project-header {
  background-color: #f5f5f5;
  padding: 0; }

.client-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.25;
  color: #717ebd;
  text-align: center;
  margin: 0 0 1em 0;
  padding-top: .5em; }

.project-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .8em;
  color: #717ebd;
  text-align: center;
  margin: 0 0 .25em 0;
  padding-bottom: 1em; }

.project-description a {
  display:inline-block;
}

.project-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .9em;
  line-height: 1.4;
  color: #636466;
  text-align: left;
  padding: 0 0 .5em 0; 
  word-wrap:break-word;
  hyphens: manual;}

.project-description strong{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;}

.project-description em{
  font-style: italic;}

.project-description a{
  text-decoration: underline;
  color:#717ebd;}

.project-image {
  width: 100%;
  margin-bottom: 1em; }

.testimonial {
  height:auto;
  background-color: #ffffff;
  margin: 0 0 1em 0;
  padding: 1em;
  font-size:14px; 
  overflow:auto;}

.testimonial-quote {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.4;
  color: #717ebd;
  text-align: left;
  margin-bottom: .25em; 
  padding-top: .1em;}

.quotes {
  float:left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #a6aed3; 
  margin-right:.1em;  
}

.quote-right {
  position:relative;
  overflow:hidden;
  margin-bottom: .2em;
  padding-right: .5em;
}
.testimonial-name, .testimonial-organization {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.857em;
  line-height:1.2;
  color: #a6aed3;
  text-align: right;
   }

.testimonial-position {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.714em;
  line-height:1.2;
  margin-top:.25em;
  text-transform:uppercase;
  color: #a6aed3;
  text-align: right; }

@media screen and (min-width: 48.25em) {

  .sidebar-right{
    float:right;
    width:27%;
    margin-left:3%;
    }

  .project {
    overflow: hidden; }
  .project-wrap {
    max-width:87em;
    padding: 4em 2em 0 2em;
    overflow: hidden;
  }

  .client-name {
    font-weight: 700;
    font-size: 1.25em;
    text-align: left;
    padding-top: 0; 
    margin-bottom:.1em;}

  .project-title {
    display: none; }

  .project-image {
    float: left;
    width: 70%;
    height: auto;
    margin:0 0 2em 0; }
}

@media screen and (min-width: 87em) {
  .project-wrap {
    max-width:87em;
    padding: 8em 2em 0 2em;
  }
}

/***********************************
CONTACT
************************************/

.contact-wrapper {
  position:relative;
  width: 100%;
  
}

.contact{
  height:100%;
  margin:0 auto;
  padding: 2em 1.5em 3em 1.5em;
  background-color: whitesmoke;
  overflow:auto;
}

.contact-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5;
  color: #636466;
  text-align: left;
  padding-bottom: .5em; }

.contact-text strong{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;}

.contact-text em{
  font-style: italic;}

.contact-text a{
  text-decoration: underline;
  color:#717ebd;}

.contact-links {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5;
  color: #636466;
  text-align: left;
  margin-top:1em;
  padding-right:1em;
}

.contact-links li {
  margin-bottom:.5em;
}

.contact-links a {
  color: #717ebd;
}

@media screen and (min-width: 48.25em) {

  .contact-links {
    float: right;
    width: 30%;
    max-width: 275px;
    margin-top:0;}

  .contact-text {
    float: left;
    width: 70%;
    margin-right: 0em; 
    padding-right:3%;}

  .contact{
    margin:0 auto;
    padding:6em 2em;
    max-width:87em;}
}

/***********************************
BLOG
************************************/

.blog-wrapper {
  position:relative;
  width: 100%;}

.blog{
  height:100%;
  margin:0 auto;
  padding: 2em 1.5em 3em 1.5em;
  background-color: whitesmoke;
  overflow:auto;}

@media screen and (min-width: 48.25em) {
  .blog{
    margin:0 auto;
    padding:4em 2em;
    max-width:87em;}
}

@media screen and (min-width: 43.25em) {
  .blog-post {
    max-width:620px;
    margin: 0 auto; }
}

.post-meta {
  margin-top: -.25em;
  margin-bottom: 1.5em;
}
.post-meta li {
  display: inline-block;
}
.post-meta a, .post-meta li {
  color: #999999;
}
.post-meta a:hover {
  color: #a6aed3;
}

article h1, article h2, article h3, article h4, article p, article blockquote, article strong, article em, article li {
  font-family: 'Montserrat', sans-serif;
}

article h1 {
  font-weight: 400;
  font-size: 1.5em;
  color: #717ebd;
  text-align: left;
  margin: 0 0 .5em 0;
}

article a, p a {
  color: #717ebd;
}

article p {
  font-weight: 400;
  font-size: 1.0em;
  line-height: 1.5;
  color: #636466;
  text-align: left;
  margin-bottom: .5em;
}

.excerpt {
  margin-bottom:2em;
}

article strong {
  font-weight: 700;
}

article blockquote {
  border-left: 4px solid #717ebd;
  font-weight: 400;
  font-size: 1.0em;
  line-height: 1.5;
  padding: 0 0 0 1em;
  margin: 1em 0 1em 0;
  font-style: italic;
}

article em {
  font-weight: 400;
  font-style:italic;
}

article .img-container {
  margin: 0 0 20px;
  max-width:100%;
  height:auto;
}

img.wp-post-image {
  max-width:100%;
  height:auto;
}
article .img-container p {
  font-size: 1em;
  color: rgba(198, 204, 210, 0.8);
  font-weight:400;
  font-style: italic;
  text-align: right;
  position: relative;
  top: -21px;
  left: -7px;
  margin: 0;
}

.moretag {
  color: #717ebd;
}

/***********************************
FOOTER
************************************/



footer {
  display: block;
  
  padding: 1em 2em;
  width: 100%;
  
  background-color: #a6aed3;
  overflow:auto;}

/*
footer {
  display: block;
  position: absolute;
  bottom:0;
  left:0;
  padding: 1em 2em;
  width: 100%;
  height: auto;
  background-color: #a6aed3;
  overflow:auto;}
*/



footer p {
  text-align: center;
  color: #c8cde4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 1em;
  padding-top: 1em; }



.social {
  text-align: center; }

.email a{
  color: #c8cde4;

}

.email a:hover{
  color:#eaecf5;

}

footer:hover{
  color:#717ebd;
}



.icon:hover {
  fill: #eaecf5; }

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
  font-size: 2em;
  color: #b7bedb;
  padding-left:.5em;
}

.icon-alone:hover {
  color: #eaecf5;
}

@media screen and (min-width: 42em) {
  .icon-alone {
    display: inline-block; /* Fix for clickability issue in WebKit */
    font-size: 1.5em;
    color: #b7bedb;
    padding-left:.5em;
  }
  .social {
    display: inline-block;
    float: right;
    width:33.3333%;
    text-align: right;}

  footer p {
    display: inline-block;
    float: left;
    padding-top: .25em;
    width:33.3333%;
    text-align: left;}

  .email {
    float:right;
    width:33.3333%;
    text-align: center;
  }

  footer {
    padding-top: 1em; }
}

@media screen and (min-width: 87em) {
  .footer {
    padding:0 1.5em 0 2em;
  }

}

  /**** Isotope Filtering ****/

.isotope {
    height: 100% !important;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height;
     -moz-transition-property: height;
      -ms-transition-property: height;
       -o-transition-property: height;
          transition-property: height;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
