$icon_color: #fff;
$menu_background: #717ebd;
$menu_highlight_background: #4054bc;
$menu_highlight_text: #c4c4c4;
$menu_current_background: #8224e3;
$menu_submenu_background: #1e73be;


@import 'colors.css';
@import '_admin.scss';
